.about-container {
  background: #171a1b;
}

.sobre-title {
  height: 100%;
  width: 100%;
  padding: 70px 0 80px 0;
  display: flex;
  justify-content: center;
}

.texto-sobre {
  text-align: center;
  width: 1000px;

    a {
      color: #835AFD; 
    
    }

    p {
      font-size: 26px;
      color: #F5F7F9;
      padding: 50px 0 50px 0;
      line-height: 1.4;
      font-weight: 700;
   
    }
    h2 {
      color: #F5F7F9;
      font-size: 38px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.1em;
    }
    h2::after {
      content: " ";
      display: block;
      width: 70px;
      height: 3px;
      background: #835AFD;
      margin:0 auto;
    }
    :hover {
      transform: scale(1.02);   
    }

    
}

section .code-icon {
 color:#835AFD;
 font-size: 60px !important;
 
}

.social-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  ul {
    list-style: none;
      display: flex;
      justify-content: space-evenly;
      p {
        color: #ffffff;
        padding-top: 5px;
      }  
  }  
}

.social-icon {
  color:#835AFD;
 font-size: 60px !important;

  :hover {
    color: #ffffff;
    transform: scale(1.02);  
  }
}





    
  


