#about {
  background: #171a1b;
  text-align: center;

  section {
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
  }
}

.about-text {
  text-align: center;
  width: 1000px;

    a {
      color: #835AFD; 
    
    }

    p {
      font-size: 26px;
      color: #F5F7F9;
      padding: 50px 0 50px 0;
      line-height: 1.4;
      font-weight: 700;
   
    }
    h2 {
      color: #F5F7F9;
      font-size: 38px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.1em;
    }
    h2::after {
      content: " ";
      display: block;
      width: 70px;
      height: 3px;
      background: #835AFD;
      margin:0 auto;
    }
    :hover {
      transform: scale(1.01);   
    }

    
}

section .code-icon {
 color:#835AFD;
 font-size: 70px !important;
 
}

.social-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
  ul {
    list-style: none;
      display: flex;
      justify-content: space-evenly;
      p {
        color: #ffffff;
        padding-top: 5px;
      }  
  }  
}

.social-icon {
  color:#835AFD;
 font-size: 60px !important;

  :hover {
    color: #ffffff;
    transform: scale(1.01);  
  }
}

@media only screen and (max-width: 1278px) {

  .about-text {
    width: 800px;
    p {
      font-size: 24px;
    }
  }
  section .code-icon {
    font-size: 50px !important;  
   }
    
.social-icon {
 font-size: 50px !important;
  }
}

@media only screen and (max-width: 768px) {
  .about-text {
    width: 600px;
    p {
      font-size: 20px;
    }
  }
}





    
  


