* {
  font-family: 'roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-container {
  display: flex;
  justify-content: center;
  padding-top: 110px;
  width: 100%;
  background-image: url(../assets/images/back-points.svg);
  height: 100vh;
  overflow: hidden;
  
  img {
    height: 480px;
    background: cover;
  }
}

span {
  font-size: 66px;
    line-height: 1;
    color: #171a1b;
}

.intro-text {
  width: 500px;
  text-align: center;
  line-height: 1.1;
  margin-top: 150px;
  p {
    font-size: 24px;
    
  }
}

.arrow { 
  font-size: 60px !important;
  color: #835AFD;
  position: absolute;
  bottom: 0;
  margin-bottom: 14vh;
  animation: go-back 1s infinite alternate;
}

@keyframes go-back {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}


@media only screen and (max-width: 1278px) {

  .intro-container {
    img {
      height: 380px;
      position: absolute;
      top: 0;
      margin-top: 15vh;
    }
  }
}

@media only screen and (max-width: 768px) {

  .intro-container {
    img {
      height: 320px;
      position: absolute;
      top: 0;
      margin-top: 15vh;
    }
  }
}

