.quote-container {
  background-image: url('../assets/images/basketball-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  width: 100%;
  display: block;

  span {
    font-size: 36px;
    color: #FAFAFA;
  }

  p {
  padding-top: 120px;
  font-style: italic;
  font-size: 68px;
  color:#FAFAFA;
  }

}

.quote-container p::before, p::after {
  font-size: 5rem;
  color: #FAFAFA;
 
}

.quote-container p::before {
  content: "“";

}

.quote-container p::after {
  content: "”";
}

@media only screen and (max-width: 1278px) {
  
  .quote-container {
    height: 35vh;
    p {
      font-size: 36px;
    }
    P::before {
      font-size: 2rem;
    }  
     p::after {
      font-size: 2rem;   
    } 
    span {
      font-size: 28px;
    } 
  }
 
}
