
.skills-container {
  height: 400px;
  width: 100%;
  background-color: #171a1b;

    img {
      width: 100%;
      height: auto;
      animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0);
      overflow-x: hidden;
      }
      
   }
   @keyframes wave {
    0%, 100% {
      transform: translate3d(0,-10px,0);
    }
    50% {
      transform: translate3d(0,10px,0);
    }
  }

.card {
    img {
      height: 30px;
    }
}

