.social-container {
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  ul {
    list-style: none;
      display: flex;
      justify-content: space-evenly;
      margin: 100px 10px 100px 10px;
      
      p {
        color: #171a1b;
        padding-top: 5px;
      }  
  }  
}

.social-icon {
  color:#db31a5;
 font-size: 60px !important;

  :hover {
    color: #171a1b;
    transform: scale(1.02);  
  }
}

